/* .card1{
    width:350px;
    height: 400px;
    
    box-shadow: 3px 7px 9px #555,
    -3px -7px 9px #555;
    display: flex;
    margin  :15px;
    margin-top: 50px;
    flex-direction: column;
  }
  
  .img{
      width: 90%;
      height: 200px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      top: -30px;
      position: relative;
      box-shadow: 3px 7px 9px #555;
      
  }
  .rest{
      position: relative;
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      background-image: url(https://www.tokkoro.com/picsup/5453972-lines-wallpapers.jpg);
      background-size: 100% 100%;
      font-size: 15px;
      font-weight: bolder;
      

  } */
  /* .rest::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #555;
      opacity: 0.5;
  } */
/*   
  h2{
      height: 20%;
      text-align: center;
      background-color: black;
      color: white;
      z-index: 3;
  }
  h6{
    height: 80%;
    text-align: left;
    word-wrap: break-word;
    padding:10px;
    overflow-y: scroll;
    z-index: 3;
    color: white;



  }

  ::-webkit-scrollbar {
    width: 2px;
    
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #888;
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
  /* .imgholder{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  h3{
    color: white;

  } */ 

  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

body, html {
   font-family: 'Roboto Slab', serif;
    
}



.cards {
  margin: 50px;
    width:400px;
    height: 600px;
    max-height: 400px;
    

}





.card__like {
    width: 18px;
}


.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
   background-image: url(https://ecuaexperience.com/wp-content/uploads/2018/10/Green-Background-Wallpapermost-popular-green-background-wallpaper-2560x1600-PIC-WPXH352294.jpg);
  color: white;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: white;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    overflow-y: scroll;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
    color: #868686;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
    background-image: none;
    transition: 0.4s;
    color: #868686;

}
.card:hover .card__category{
  color: #868686;
}
.card:hover .card__info-hover {
    opacity: 1;
    color: #868686;
}
.card:hover .card__info{
  color: black;
}
