<br />
<br />
<br />

<div class="allcom">
  <div class="card1">
    <div class="imgholder">
      <div
        class="img"
        [style.background-image]="'url(' + info.photo + ')'"
      ></div>
    </div>
    <div class="rest">
      <h2>
        {{ info.username
        }}<mdb-icon
          style="color: white;margin-left: 10px; font-size: 25px;"
          fas
          icon="edit"
        ></mdb-icon>
      </h2>
      <h3><mdb-icon fas icon="phone-volume"></mdb-icon> {{ info.phone }}</h3>
      <h6>I'm rated {{ rating }} /5</h6>
    </div>
    <app-start-rating [id]="id"></app-start-rating>
    <app-freinds></app-freinds>
    <app-edit-profile></app-edit-profile>
  </div>
  <!-- /// -->

  <div *ngIf="render" class="profinf">
    <app-product-card></app-product-card>
  </div>
</div>
