  <section>
    <!-- <mdb-card-img [src]="info.products[counter].photo"></mdb-card-img> -->
    <img [src]="info.products[counter].photo" alt="img">
    

    <div class="info">
      <h4>Product Name : {{ info.products[counter].name }}</h4>
      <h3>
          Description :  {{ info.products[counter].description }}
      </h3>
      <div class="btns">
         <button
          mdbBtn
          type="button"
          gradient="blue"
          rounded="true"
          id="previous"
          mdbWavesEffect
          (click)="previousProduct($event)"
          >
          <mdb-icon fas icon="arrow-left"></mdb-icon>
          </button> 
          <h5 >
            Price : {{ info.products[counter].price }} $
          </h5>
          <button
          mdbBtn
          type="button"
          gradient="blue"
          rounded="true"
          id="previous"
          mdbWavesEffect
          (click)="nextProduct($event)"
          >
          <mdb-icon fas icon="arrow-right"></mdb-icon>
          </button>
        </div>
     
    </div>

  </section>
  <h1 class="time"><mdb-icon far icon="clock" class="pr-1"></mdb-icon>05/10/2015</h1>













 




