.carousel-caption{
    color: red;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    font-size: 35px;
    font-family: cursive;
    color: #ea1570
    ;
}
.carousel-caption h1{
    background-color:rgba(46, 49, 49, 0.3)
}