.all{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 55, 71);
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
