<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100"  style="height: 100vh;"src="https://img4.goodfon.com/wallpaper/nbig/8/3b/iphone-x-iphone-apple-tecnology-smartphone-hi-tech-logo.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <!-- <div class="carousel-caption">
        <h1 class="h1-responsive" >Welcome to Open Market Experts</h1>
      </div> -->
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100"  style="height: 100vh" src="https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <!-- <div class="carousel-caption">
        <h1 class="h1-responsive" >Welcome to Open Market Experts</h1>
      </div> -->
      
    </mdb-carousel-item>
    
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100"  style="height: 100vh" src="http://wallpaperim.net/_data/i/upload/2014/10/07/20141007212198-be956e74-la.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <!-- <div class="carousel-caption">
        <h1 class="h1-responsive" >Welcome to Open Market Experts</h1>
      </div> -->
    </mdb-carousel-item>
  </mdb-carousel>