<!-- <div>
  <div class="product">
    <div class="discription">
      {{product.name}}
    </div>
    <div class="name"></div>
  </div>
</div> -->
<!--Card-->
<div class="card m-5" style="width: 22rem;">
  <!--Card image-->
  <div class="view overlay">
    <img src={{product.photo}} class="img-fluid" alt="">
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title">{{product.name}}</h4>
    <!--Text-->
    <p class="card-text">{{product.description}}.</p>
    <a href="#" class="btn btn-primary">Buy now</a>
  </div>

</div>
<!--/.Card-->
