<div id="sidebar">
  <form class="form-inline md-form mr-auto mb-4" (submit)="onSearch($event)" style="padding-top: 10%;">
    <input  type="text" placeholder="Search" aria-label="Search" name="query"
      [(ngModel)]="query" required>
     
      <select name="usedfor" id="usedfor" mdbBtn size="sm"  outline="true" rounded="true"
        class="my-0 waves-light" mdbWavesEffect [(ngModel)]="usedfor" name="usedfor">
        <option *ngFor="let usedfor of usedforArray"> {{ usedfor }} </option>
      </select>
      <br>
    <button mdbBtn size="sm" outline="true" rounded="true" class="my-0 waves-light" mdbWavesEffect
      type="submit">Search</button>
 

  </form>
  <ul>
    <!-- <li id="cat"><a [routerLink]="['dashboard/categroy']"  id="cat"> categroy </a></li> -->

    <div *ngIf="users" id="catego">
      <div  *ngFor="let user of users.users">
        <li><a href=""><mdb-icon class="icon" fas icon="user"></mdb-icon>{{user.username}}</a></li>
      </div>
    </div>

   
  </ul>
  <button id="sidebar-btn" (click)="showSideNav()"><mdb-icon fas icon="bars"></mdb-icon></button>
  
  <li id="logout"class="proff"><a routerLink="/profile" id="user"><mdb-icon fas icon="user-alt" ></mdb-icon> {{ user }} </a></li>

  <button type="button" id="logout" > <mdb-icon style ="color: white;"fas icon="sign-out-alt"></mdb-icon> </button>
    
  

</div>
