*{
    outline:none;
   
}
#logininputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:none;
    border: none;
    background-color: transparent;
 
}
#logininputs input{
    all: unset;
    width: 80%;
    margin: 5% 0;
    height: 50px;
    border:none;
    background: none;
    background-color: transparent ;
    border-bottom:2px solid white;

}
.modal-content{
    background-color: #2E2E2E;
    color:#01DF01;
    font-size: 19px;
    font-weight: bold;
    height: 600px;
    justify-content: center;
    background-image: url(https://ssl.c.photoshelter.com/img-get/I0000.8JT.nDu6hk/s/900/900/50-mountain-GOZOOMA-8046.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.btn{
    position: absolute;
    bottom: 50px;
    width: 80%;
    height: 50px;
    border-radius:20px 20px 20px 20px;
    background-color: #01DF01;
    color: white;
}

