<div class="container" style="padding: 17% 17% 17% 17%">
  <h1>Thanks For Joining our Community</h1>
  <h3>Few steps remaining...</h3>
  <h6>Email has been sent to {{email}}</h6>
  <br />
  <form (submit)="verify($event)">
    <label for="exampleForm2">Enter your vertifcatoin code</label><br />
    <input type="text" id="exampleForm2" class="form-control-md-6" name="code" [(ngModel)]="code" required>
    <hr />
    <button type="button" type="submit" class="btn btn-primary btn-md">Verify</button>
    <hr />
  </form>
  <h6>Having a problem! <button type="button" (click)="reSend()" class="btn btn-secondary btn-md">resend email</button>
  </h6>
</div>
