<div id="container" *ngIf="render">
  <div>
    <button
      mdbBtn
      type="button"
      gradient="blue"
      rounded="true"
      id="previous"
      mdbWavesEffect
      (click)="previousProduct($event)"
    >
      previous
    </button>
  </div>
  <mdb-card>
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img [src]="info.products[counter].photo"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->

    <!--Button-->

    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>{{ info.products[counter].name }}</h4>
      </mdb-card-title>

      <hr />
      <!--Text-->
      <p class="font-small grey-dark-text mb-0">
        {{ info.products[counter].description }}
      </p>
      <hr />
      <p class="font-small grey-dark-text mb-0">
        {{ info.products[counter].price }}
      </p>
    </mdb-card-body>
    <!--/.Card content-->
    <!-- Card footer -->
    <mdb-card-footer class="mdb-color lighten-3 text-center">
      <ul class="list-unstyled list-inline font-small mt-3">
        <li class="list-inline-item pr-2 white-text">
          <mdb-icon far icon="clock" class="pr-1"></mdb-icon>05/10/2015
        </li>
      </ul>
    </mdb-card-footer>
    <!-- Card footer -->
  </mdb-card>
  <div>
    <button
      mdbBtn
      type="button"
      gradient="blue"
      rounded="true"
      id="previous"
      mdbWavesEffect
      (click)="nextProduct($event)"
    >
      next
    </button>
  </div>
</div>
