<div id="sidebar">
    <form class="form-inline md-form mr-auto mb-4">
        <!-- I need to change the search functionality here -->
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="my-0 waves-light" mdbWavesEffect
            type="submit">Search</button>
    </form>
    <ul>
        <li><a href="#" id="cat"> categroy </a></li>
        <li><a id="user" href="#"> {{ user }} </a> </li>
    </ul>
    <div id="sidebar-btn" (click)="clicker()">
        <span></span>
        <span></span>
        <span></span>
        </ div>

    </div>