body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

#sidebar {
  background: #151718;
  width: 15%;
  height: 100vh;
  display: relative;
  position: absolute;
  left: -15%;
  top: 0px;
  transition: left 0.5s linear;
  
}


#sidebar.visible {
  left: 0px;
  transition: left 0.3s linear;
}

#sidebar.inVisible {
  left: -200px;
  transition: left 0.3s linear;
}

ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

ul li {
  list-style: none;
  position: fixed;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

#cat {
  list-style: none;
  position: fixed;
  bottom: 95px;
  width: 15%;
  text-align: center;
  vertical-align: middle;
}



#user {
  list-style: none;
  position: fixed;
  bottom: 50px;
  width: 15%;
  text-align: center;
}

#logout {
  list-style: none;
  position: fixed;
  bottom: 0px;
  width: 15%;
  text-align: center;
  vertical-align: middle;
  
}

ul li a {
  background: #1C1E1F;
  color: #ccc;
  border-bottom: 1px solid #111;
  display: block;
  width: 180px;
  padding: 10px;
  text-decoration: none;
}

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 22px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0px;
  right: -60px;
  border-radius: 30px;
  padding-top: 200px;
}

#sidebar-btn span {
  height: 1px;
  background: #111;
  margin-bottom: 5px;
  display: block;
}

#sidebar-btn span:nth-child(2) {
  width: 75%;
}

#sidebar-btn span:nth-child(3) {
  width: 50%;
}
#section{
  display: block;
}