*{
  outline: none;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial;

}

#sidebar {
  background: #151718;
  width: 20%;
  height: 100vh;
  position: absolute;
  left: -20%;
  
  transition: left 0.5s linear;
  background-image: url(https://wallpapershome.com/images/wallpapers/lines-1080x1920-digital-red-4k-18954.jpg);
  background-size: auto 100%  ;
  background-repeat: no-repeat;
  /* border-right: 2px solid rgb(247, 10, 10); */
  border-top: 2px solid rgb(247, 10, 10);
  border-bottom: 2px solid rgb(247, 10, 10);
  z-index: 10;

  
}
input{
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
  color: white;
  outline: none;
}

#sidebar.visible {
  left: 0px;
  transition: left 0.5s linear;
}

#sidebar.inVisible {
  left: -200px;
  transition: left 0.5s linear;
}




#sidebar-btn {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: -50px;
  outline: none;
  border: none;
  background-color: black;
  /* border-left: 2px solid rgb(247, 10, 10); */
  z-index: 10;
  font-size: 25px;
  color: rgb(247, 10, 10);

  
}
#section{
  display: block;
}
form{
  display: flex;
  flex-direction: column;

}
form button{
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid white;
  color: white;
  border-radius:20px 20px 20px 20px;

  
}
form select{
  width: 80%;
  text-align: center;
  border: 1px solid white;
  color: white;
  border-radius:20px 20px 20px 20px;

}
form select option{
  color: rgb(247, 10, 10);
  height: 50px;
  border-radius:20px 20px 20px 20px;

}
form select:hover,form button:hover{
  background-color:#10202F;
  color: rgb(247, 10, 10);
  transform: scale(1.06);
  border: 1px solid rgb(247, 10, 10);
}


ul{
  height: 70%;
  
  overflow-y: scroll;
}
#logout{
  width: 50%;
  position: relative;
  left: 24%;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius:20px 20px 20px 20px;
}
#logout:hover{
  background-color:#10202F;
  color: rgb(247, 10, 10);
  transform: scale(1.06);
  border: 1px solid rgb(247, 10, 10);
}
#cat{
  color: rgb(247, 10, 10);
  width: 100%;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 20px;
}
li{
  text-decoration: none;
  list-style:none

}
a{
  text-decoration: none;
 
}
#catego li a{
  margin-top: 20px;
  color:white;
  position: relative;
  top: -10px;
  width: 100%;
  text-align: center;

}
#catego li:hover a{
  color: rgb(247, 10, 10);
}
#catego li:hover{
  color: rgb(247, 10, 10);
  transform: scale(1.06);
  border: 1px solid rgb(247, 10, 10);
  transform: scaleY(1.2);
  transform: translateY(-2px);
  transition: 0.3s;
  background-color: #10202F;

}
#catego li{
  height: 60px;
  border: 2px solid white;
  width: 100%;
  margin-bottom: 10px;
  transition: 0.3s;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:20px 20px 20px 20px;


}
ul{
  display: flex;
  flex-direction: column;
  padding: 0 10px;


}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.icon{
  position: absolute;
  left:10px;
}
.proff a{
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 20px;
}
.proff{
  width: 100%;
  display: flex;
  justify-content: center;
  color: aqua;
  margin-bottom: 10px;
}